<.header>
  New Title
  <:subtitle>Use this form to manage title records in your database.</:subtitle>
</.header>

<.title_form changeset={@changeset} action={~p"/titles"} />

<.back navigate={~p"/titles"}>Back to titles</.back>
