<.header>
  New Read order issue
  <:subtitle>Use this form to manage read_order_issue records in your database.</:subtitle>
</.header>

<.read_order_issue_form changeset={@changeset} action={~p"/readorder_issues"} />

<.back navigate={~p"/readorder_issues"}>Back to readorder_issues</.back>
